<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        Sandors HowTos from <a href="https://twitter.com/e30chris">@e30chris</a>.<br>
        &lt;/&gt; available on <a href="https://github.com/e30chris/SandorsSystemsScribbles">Github</a>.
        <br>
        Sandors Systems Scribbles is a HowTo notebook written by Sandor because I forget things I have figured out.
        <br>
        <br>
        <img src="/images/space-battleship-yamato.jpg" alt="Sandor" class="avatar" />
      </small>
    </div>
  </div>
</footer>
